<nav class="navbar navbar-expand-md navigation sidebar-left fixed-top"
  [ngClass]="{ 'navbar-expanded': navbarExpanded, 'navbar-sticky': navbarSticky, 'dark-link': darkLinks }">
  <div class="container">


    <a [routerLink]="['']" class="navbar-brand">
      <img src="assets/img/logo.png" alt="Dashcore" class="logo logo-sticky" *ngIf="useOnlyDarkLogo; else logos" />
      <ng-template #logos>
        <img src="assets/img/logo.png" alt="Dashcore" class="logo logo-sticky d-block d-md-none" />
        <img src="assets/img/logo.png" alt="Dashcore" class="logo d-none d-md-block" />
      </ng-template>
    </a>
    <ul style="list-style-type: none; margin-bottom: 0!important;">
      <li><button class="btn btn-rounded btn-solid px-3 mt-2" type="button" (click)="viewCourses()">
          About Us</button></li>
      <li><button class="btn btn-rounded btn-solid px-3 mt-2" type="button" (click)="scrollToElement('contact')"
          style="background-color: #428BFC; border: none; float: right; margin-bottom: 0!important;">
          Free Demo Class</button></li>
    </ul>



    <div class="collapse navbar-collapse ml-auto">
      <div class="sidebar-brand">
        <a [routerLink]="['']">
          <img src="assets/img/logo.png" alt="Dashcore Template" class="logo" />
        </a>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</nav>
