<!-- lightbox -->
<section class="section bg-color edge top-left">
  <div class="container pt-8">
    <div class="section-heading text-center w-75 mx-auto">
      <h2 class="text bold">Meet our Team
      </h2>
      <p class="lead text-contrast">

      </p>
    </div>

    <div class="row gap-y">
      <div class="col-12 col-sm-6 col-md-3" *ngFor="let post of posts">
        <div class="card shadow-box shadow-hover border-0">
          <div class="gradient gradient-blue-purple alpha-3 p-6  cover center-flex"
            [style.background-image]="post.image" style="background-repeat: no-repeat; background-size:cover;"></div>
          <div class="card-body">
            <h4 class="card-title regular">{{ post.title }}</h4>

            <p class="card-text text-secondary">{{ post.description }}.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
