<section class="singl-testimonial shadow mt-2">
  <div class="container-fluid py-0">
    <div class="row align-items-center gradient gradient-navy-blue text-contrast">
      <div class="col-md-7 image-background cover center-top"
        [style.background-image]="'url(assets/img/testimonials/2.jpg)'"></div>

      <div class="col-md-3 mx-auto py-4 py-md-0">
        <blockquote class="mt-1 text-contrast">
          <fa-icon [icon]="quoteLeft" [class]="'quote'"></fa-icon>
          <br>
          As we are approaching a global digitalized world, it is imperative for us to move towards an effective online
          educational system which also embraces the authenticity of the traditional teaching methods. To be able to
          <span class="bold">command a computer</span> has become more important than ever, keeping that in mind, this
          company aims to provide a
          comprehensive teaching environment where each student gets one-on-one mentorship guidance.
        </blockquote>

        <hr class="my-2" />
        <div class="small text-contrast">
          <span class="bold d-block">Drishti</span>
          CEO & Founder of Sensai, Learn and Skill Up
        </div>
      </div>
    </div>
  </div>
</section>
