<section class="section" id="courses">
  <div class="shape-wrapper">
    <img src="assets/img/shps/shape-2.svg" class="shape-right" alt="..." />
  </div>


  <div class="container bring-to-front" style="padding-bottom: 0 !important; margin-bottom: 0 !important;">
    <div class="row">
      <h4 class="mx-auto text-primary mb-4 text-center">
        Early Bird offer lasts till <strong>{{todaysDate}}</strong> Midnight! <br> <small>Book your Demo Class
          Today!</small>
      </h4>
    </div>
    <div class="tabs" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
      <input type="radio" id="tab1" (click)="clickOnBeginner()" name="tab-control" checked />
      <input type="radio" id="tab2" (click)="clickOnIntermediate()" name="tab-control" />
      <input type="radio" id="tab3" (click)="clickOnSpec()" name="tab-control" />
      <ul>
        <li title="Features">
          <label for="tab1" role="button">1. <br /><span>Beginner</span></label>
        </li>
        <li title="Delivery Contents">
          <label for="tab2" role="button">2. <br /><span>Intermediate</span></label>
        </li>
        <li title="Shipping">
          <label for="tab3" role="button">3. <br /><span>Specialisation</span></label>
        </li>
      </ul>

      <div class="slider">
        <div class="indicator"></div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-4 mb-4 hover-feature"
        *ngFor="let card of visibleCourse; let i = index">
        <div class="rounded text-contrast p-2 p-sm-4 shadow text-center" [style.background-color]="card.bg"
          [attr.data-aos]="card.animation">
          <!-- <img [src]="'assets/img/logos/' + card.img + '.svg'" class="img-responsive op-8 px-0 px-sm-4" alt="..." /> -->
          <span class="percent-off pl-2 pr-2 pt-1 pb-1">{{
            offerCalculator(card.beforePrice, card.afterPrice)
          }}</span>
          <div *ngIf="!card.readMore">
            <p class="bold mt-3" style="font-size: 16pt;">{{ card.name }}</p>
            <p class="mt-3" style="font-size: 13pt;">
              {{ card.lectures }} Lectures
            </p>

            <hr />
            <p style="font-size: 11pt;" class="{{ card.class }}" *ngFor="let item of card.features">
              {{ item }}
            </p>

            <hr />
            <h5>
              <s style="color: white !important;">{{
                card.beforePrice | currency: "INR":"symbol":"3.0-0"
              }}</s>
            </h5>
            <h3 style="color: white !important;">
              {{ card.afterPrice | currency: "INR":"symbol":"3.0-0" }}
            </h3>
          </div>
          <div *ngIf="card.readMore">
            <div class="row">
              <div class="col-12 text-left mt-4" style="font-size: 10pt;">
                <b style="font-size: 12pt;"> Course Curriculum</b>

                {{ card.aboutCourse }}
              </div>
              <hr />
              <div class="col-12 mt-4">
                <p class="text-left" style="margin-bottom: 0;">More than</p>
                <p style="font-size: 24pt;">
                  {{ card.courseHandsOn }} Hands On Hours
                </p>
              </div>
              <div class="col-12">
                <p class="text-left" style="margin-bottom: 0;">You will be creating</p>
                <p style="font-size: 18pt;">
                  {{ card.project }}
                </p>
              </div>

            </div>
          </div>

          <a (click)="scrollToElement('contact', [card.key, card.level, card.name] )"
            class="btn btn-rounded btn-contrast mt-4" style="color: black;">
            <!-- <fa-icon [icon]="longAarrowAltRight" class="d-inline-block d-sm-none"></fa-icon> -->
            <span class="d-sm-inline-block">Free Demo Class</span> </a><br />
          <a class="btn btn-rounded {{ card.button }} mt-4" (click)="clickOnReadMore(i)" style="color: white;"
            *ngIf="!card.readMore">
            <!-- <fa-icon [icon]="longAarrowAltRight" class="d-inline-block d-sm-none"></fa-icon> -->
            <span class="d-sm-inline-block">Read More</span>
          </a>
          <a class="btn btn-rounded {{ card.button }} mt-4" (click)="clickOnReadMore(i)" style="color: white;"
            *ngIf="card.readMore">
            <!-- <fa-icon [icon]="longAarrowAltRight" class="d-inline-block d-sm-none"></fa-icon> -->
            <span class="d-sm-inline-block">Go Back</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
