<section class="section" id="courses">
  <div class="shape-wrapper">
    <img src="assets/img/shps/shape-2.svg" class="shape-right" alt="..." />
  </div>

  <div
    class="container bring-to-front"
    style="padding-bottom: 0 !important; margin-bottom: 0 !important;"
  >
    <div
      class="tabs"
      style="margin-bottom: 0 !important; padding-bottom: 0 !important;"
    >
      <input
        type="radio"
        id="tab1"
        (click)="clickOnBeginner()"
        name="tab-control"
        checked
      />
      <input
        type="radio"
        id="tab2"
        (click)="clickOnIntermediate()"
        name="tab-control"
      />
      <input
        type="radio"
        id="tab3"
        (click)="clickOnSpec()"
        name="tab-control"
      />
      <ul>
        <li title="Features">
          <label for="tab1" role="button">Beginner<br /><span></span></label>
        </li>
        <li title="Delivery Contents">
          <label for="tab2" role="button"
            >Intermediate<br /><span></span
          ></label>
        </li>
        <li title="Shipping">
          <label for="tab3" role="button"
            >Specialisation<br /><span></span
          ></label>
        </li>
      </ul>

      <div class="slider"><div class="indicator"></div></div>
    </div>
    <div>
      <div id="generic_price_table">
        <section>
          <div class="container" style="padding-top: 0 !important ;">
            <div class="row">
              <div class="col-md-4" *ngFor="let item of visibleCourse">
                <div class="generic_content clearfix hover-feature">
                  <div class="generic_head_price clearfix">
                    <div class="generic_head_content clearfix">
                      <div class="pt-1 mb-1" style="color: white;">
                        Beginner
                      </div>
                      <div class="head_bg"></div>
                      <div class="head">
                        <span>{{ item.name }}</span>
                        <span class="percent-off" style="margin-top: -2em;">{{
                          offerCalculator(item.beforePrice, item.afterPrice)
                        }}</span>
                      </div>
                    </div>
                    <div class="generic_price_tag clearfix">
                      <span class="price">
                        <!-- <span class="sign">$</span> -->
                        <!-- <span class="currency">21</span> -->
                        <span class="cent" style="color: white;"
                          >{{ item.lectures }} Lectures</span
                        >
                        <!-- <span class="month"> Classes</span> -->
                      </span>
                    </div>
                  </div>
                  <div class="generic_feature_list">
                    <ul>
                      <li *ngFor="let feat of item.features">
                        <span>{{ feat }}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="">
                    <s>{{
                      item.beforePrice | currency: "INR":"symbol":"3.0-0"
                    }}</s>
                    <h5>
                      {{ item.afterPrice | currency: "INR":"symbol":"3.0-0" }}
                    </h5>
                  </div>

                  <div class="generic_price_btn clearfix">
                    <a class="" href="">Free Demo Class</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
