<app-shell [darkLinks]="true" [useOnlyDarkLogo]="true">
  <ul class="nav navbar-nav" [class.ml-auto]="true">
    <li class="nav-item mr-2" style="height: 2px!important;"><a class="nav-link btn btn-rounded btn-outline"
        style="padding-top: 5px; padding-bottom: 5px" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item mr-2  ">
      <a class="nav-link btn btn-rounded btn-outline " style="padding-top: 5px; padding-bottom: 5px"
        (click)="scrollToElement('mentors', 'team')">Team</a>
    </li>
    <li class=" nav-item">
      <a class="nav-link  btn btn-rounded btn-outline" (click)="scrollToElement('about')"
        style="padding-top: 5px; padding-bottom: 5px">About
        Us</a>
    </li>
  </ul>

  <nav class="nav navbar-nav justify-content-center mt-4 mt-md-0 flex-row"
    [ngClass]="{ 'ml-md-auto': !isRightPositioned() }">
    <a class="btn btn-rounded btn-outline mr-3 px-3" (click)="scrollToElement('courses')">
      <fa-icon [icon]="signInAlt" class="d-none d-md-inline mr-md-0 mr-lg-2"></fa-icon>
      <span class="d-md-none d-lg-inline">View Courses</span>
    </a>
    <a class="btn btn-rounded btn-solid px-3">
      <fa-icon [icon]="userPlus" class="d-none d-md-inline mr-md-0 mr-lg-2"></fa-icon>
      <span class="d-md-none d-lg-inline" (click)="scrollToElement('contact')">Contact Us</span>
    </a>
    <a class="btn btn-rounded btn-solid px-3 ml-3" style="background-color: #428BFC; border: none;">
      <fa-icon [icon]="" class="d-none d-md-inline mr-md-0 mr-lg-2"></fa-icon>

      <span class="d-md-none d-lg-inline" (click)="scrollToElement('contact')">Free Demo Class</span>
    </a>
  </nav>
</app-shell>
