<section class="section bg-light">
  <div class="container bring-to-front py-0">
    <!-- <div class="shadow bg-contrast p-5 rounded"> -->
    <!-- <div class="testimonials-slider">
        <swiper [config]="config" class="swiper-container pb-5">
          <div class="swiper-slide col-12 " *ngFor="let i of items">
            <div class="d-flex flex-column align-items-center ">
              <img src="assets/img/testimonials/{{ i.image }}.jpg" alt="" class="rounded-circle shadow mb-4" />

              <p class="w-75 text-muted mt-3" style="font-size: 11pt;">
                {{ i.description }}
              </p>

              <hr class="w-50" />
              <footer style="font-size: 9pt;">
                <cite class="bold text-primary text-capitalize">— {{ i.name }},</cite>
                <span class="small text-secondary mt-0">{{
                  i.designation
                }}</span>
              </footer>
            </div>
          </div>
        </swiper>
      </div> -->

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3" *ngFor="let i of items">
        <div class="card">
          <div class="layer"></div>
          <div class="content text-left">
            <p> {{ i.description }}
            </p>
            <div class="image"><img class="rounded-circle shadow mb-4" src="assets/img/testimonials/{{ i.image }}.jpg"
                alt="avatar">
            </div>
            <div class="details">
              <cite class="bold text-capitalize" style="color: white">— {{ i.name }},</cite>
              <span class="small mt-0" style="color: white">{{
                    i.designation
                  }}</span> </div>
          </div>
        </div>
      </div>
    </div>


    <!-- </div> -->
  </div>
</section>
